<div class="about-content bg-neutral-100 dark:bg-neutral-900">
    <app-navbar></app-navbar>
    <h1 class="text-2xl font-bold align-center py-4 text-white w-screen bg-gradient-to-r from-neutral-950 to-slate-700">
        <div class="flex justify-center w-screen">About</div>
    </h1>
    <div class="image-text-section">
        <img src="assets/pfp.png" alt="Me" width="500" height="600" class="mt-10">
        <div class="font-light dark:text-white pb-10 about-text">
            <div class="font-bold text-xl pt-10">Hello!</div>
            My name is Monami Yoshioka, welcome to my website!
            I'm a third year university student studying Engineering. In my first two years at university I studied General Engineering, however this year I am specialising in Electrical and Information.
            
            <br> I created this website to keep my research and projects in one place. Most of the content is engineering and physics related, so hopefully some things in this website will be of interest to you if you are passionate about that sort of stuff too. Feel free to contact me if you have any feedback on things I could do to improve what I already have as well as ideas for future projects, or if you just want to have a chat.
            <div>
                <br>email: <a href="mailto: monami.yoshioka@gmail.com" class="link">monami.yoshioka@gmail.com</a>
                <br>GitHub: <a href="https://github.com/MonamiYP" class="link">MonamiYP</a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
