<app-navbar></app-navbar>
    <h1 class="text-2xl font-bold align-center py-4 text-white w-screen bg-gradient-to-r from-neutral-950 to-slate-700">
        <div class="flex justify-center w-screen">Work Experience</div>
    </h1>
    <div *ngIf="blogPosts$ | async as blogPosts; else loadingBlock" class="flex flex-col justify-center items-center w-screen font-light bg-neutral-100 dark:bg-neutral-900 dark:text-white">
        <div class="py-6 w-8/12">These are my relevant work experiences and internships.</div>
        <div class="grid grid-cols-1">
            <div class="work-posts-container" *ngFor="let blogPost of blogPosts.items">
                <div class="img-container"><img [src]="blogPost.fields.featuredImage.fields.file.url" alt="image"></div>
                <div class="m-3">
                    <div class="font-medium">{{ blogPost.fields.title }}</div>
                    <div>{{ blogPost.fields.summary }}</div>
                    <a [routerLink]="['../post', blogPost.sys.id]" class="link">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loadingBlock>
        <app-loading-screen></app-loading-screen>
    </ng-template>
<app-footer></app-footer>